*, *::before, *::after{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.spinner{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 25px bolder;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.spinner > p{
    animation: text-color 1s ease-in-out infinite alternate;
}
.spin{
    width: 100%;
    height: 100%;
    border: 7px solid transparent;
    position: absolute;  
    border-radius: 50%;
    animation: rotate var(--time) var(--timing) infinite; 
    mix-blend-mode: overlay;
    pointer-events: none;
}
.red{
    border-top-color: rgb(241, 37, 37);
    --time: 1.5s;
    --timing: ease-in-out;
}
.blue{
    border-left-color: rgb(107, 107, 197);
    --time: 1s;
    --timing: ease-in;
}
.green{
    border-right-color: rgb(105, 228, 105);
    --time: 2s;
    --timing: ease-out;
}
@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
@keyframes text-color {
    0%{
        opacity: 1;
    }
    50%{
       opacity: .5;
    }
    100%{
        opacity: .2;
    }
    
}

.sndspin{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 25px bolder;
    position: relative;
    overflow: hidden;
    margin: 30px auto;
}
.sndspin::before, .sndspin::after{
    content: "";
    width: 100%;
    height: 100%;
    border: 7px solid transparent;
    position: absolute;  
    border-radius: 50%;
    animation: rotate var(--time) var(--timing) infinite; 
    mix-blend-mode: overlay;
}
.sndspin::before{
    border-left-color: rgb(107, 107, 197);
    --time: 1s;
    --timing: ease-in;
}
.sndspin::after{
    border-right-color: rgb(219, 75, 39);
    --time: 1.5s;
    --timing: ease-out;
}